.myAccount .profile {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  width: 55vw;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}

.profile .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile .content .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  height: 10vh;
  font-size: 2em;
}

.profile .content .field .descriptor {
  color: rgb(212, 61, 61);
  font-weight: 600;
}

.myAccount .nav {
  height: 15vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .rightDiv {
  display: flex;
}

.nav .navLink {
  color: white;
  font-weight: 600;
  margin: 50px;
  border: 2px solid white;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav .navLink:hover {
  cursor: pointer;
  background-color: rgb(212, 100, 100);
  border: 2px solid rgb(212, 100, 100);
  color: rgb(112, 185, 109);
}
