.tickets .ticketsNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: rgb(212, 61, 61);
}

.tickets h3 {
  color: white;
  border-bottom: 2px solid white;
  text-align: center;
}

.ticketsNav h1 {
  color: rgb(112, 185, 109);
  font-size: 4em;
  margin-left: 45px;
  margin-top: 70px;
  text-align: center;
}
.ticketsNav .myAccount {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ticketsNav .myAccount div {
  color: white;
  font-weight: 600;
  margin: 10px;
  margin-right: 20px;
  border: 2px solid white;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.ticketsNav .myAccount div:hover {
  cursor: pointer;
  background-color: rgb(212, 100, 100);
  border: 2px solid rgb(212, 100, 100);
  color: rgb(112, 185, 109);
}
.devTickDiv {
  display: flex;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.ticketsSideNav div {
  border-radius: 10px;
  border: 2px solid rgb(212, 61, 61);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9vw;
  height: 9vw;
  margin: 10px 10px 0px 10px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: white;
}
.ticketsSideNav div:hover {
  cursor: pointer;
  background-color: rgb(212, 100, 100);
  border: 2px solid rgb(212, 100, 100);
  color: rgb(112, 185, 109);
}
#resolvedButton:hover {
  color: white;
}

/* SUB COMPONENTS / DISPLAY WINDOWS */

.devTickDiv,
.usrTickDiv {
  display: flex;
  align-items: center;
  height: 90vh;
  width: 100vw;
}
.ticketsSideNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(212, 61, 61);
  border-radius: 8px;
  height: 85vh;
  width: 10vw;
  margin: 25px;
}

.ticketsSideNav div {
  border-radius: 10px;
  border: 2px solid rgb(212, 61, 61);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9vw;
  height: 9vw;
  margin: 10px 10px 0px 10px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: white;
  font-weight: 600;
}
.ticketsSideNav div:hover {
  cursor: pointer;
  background-color: rgb(212, 100, 100);
  border: 2px solid rgb(212, 100, 100);
  color: rgb(112, 185, 109);
  font-size: 1.1em;
}
#resolvedButton:hover {
  color: white;
}

.displayWindow {
  height: 87vh;
  width: 84vw;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}

.myApps {
  display: flex;
  flex-direction: row;
  width: 60vw;
}

.addAppButton,
.appTab {
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 70px;
  width: 100px;
  padding-bottom: 50px;
  margin-bottom: -50px;
  margin-top: 20px;
  background-color: rgb(212, 61, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.addAppButton div:first-child {
  position: absolute;
  height: 30px;
  width: 4px;
  background-color: white;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.addAppButton div:last-child {
  position: absolute;
  height: 4px;
  width: 30px;
  background-color: white;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#modalCloseButton div {
  transform: rotate(45deg);
}

#modalCloseButton {
  width: 50px;
  height: 50px;
  margin: 0px;
  padding-bottom: 0px;
  border-radius: 50%;
  position: relative;
  bottom: 42vh;
  right: 10px;
}

.addAppButton:hover {
  cursor: pointer;
  background-color: rgb(212, 100, 100);
}
.addAppButton:hover div {
  background-color: rgb(112, 185, 109);
}

.rotate {
  transform: rotate(45deg);
  border-radius: 50%;
}

.newAppModal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.newAppModal .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 60vw;
  color: rgb(112, 185, 109);
  background-color: rgb(212, 61, 61, 1);
  border-radius: 20px;
  filter: none;
  z-index: 3;
}

.newAppModal .content h3 {
  border-bottom: 0px;
}
.newAppModal .content input,
.newAppModal .content h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.appTab {
  color: white;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.appTab:hover {
  cursor: pointer;
  background-color: rgb(212, 100, 100);
}
.appTab:hover > .removeX {
  display: flex;
}
.appTab .text {
  position: absolute;
  max-width: 80px;
  text-align: center;
}
.removeX {
  display: none;
  position: relative;
  right: 40%;
  top: -30px;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: rgb(212, 61, 61);
  border-radius: 50%;
  transform: scale(1);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.4);
}
.removeX div {
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: white;
}
.removeX div:first-child {
  transform: rotate(45deg);
}
.removeX div:last-child {
  transform: rotate(-45deg);
}
.removeX:hover {
  transform: scale(1.2);
}

.searchResult {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 600;
  background-color: rgb(212, 61, 61);
  color: white;
  border: 2px solid white;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.searchResult:hover {
  cursor: pointer;
  background-color: rgb(212, 100, 100);
  border: 4px solid white;
}

.numberNew {
  justify-content: center;
  align-items: center;
  background-color: rgb(112, 185, 109);
  border-radius: 50%;
  color: white;
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.ticketsBeingShown {
  text-align: center;
  font-weight: 600;
  font-size: 1em;
  color: rgb(0, 0, 0, 0.2);
  margin-top: 20px;
  text-decoration: underline;
}

.leftSide b {
  color: rgb(0, 0, 0, 0.4);
}

.leftSide {
  width: 610px;
}

.modalOr {
  text-align: center;
}
