.myTicketsDiv b {
  color: rgb(212, 150, 150);
}
.myTicketsDiv .switchBox div {
  color: black;
  font-size: 1.2em;
  margin: 0px;
}
.myTicketsDiv .switchBox {
  width: 150px;
}

.filterDiv {
  display: flex;
  justify-content: flex-start;
}
.filterDiv .ticketsShowing {
  font-size: 1em;
  color: rgb(0, 0, 0, 0.2);
  text-align: center;
}
.filterDiv .divWithSwitch {
  width: 30vw;
  margin: 10px;
  padding: 0px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticketListItem {
  height: 7vh;
  width: 30vw;
  margin: 10px;
  border: 0px;
  background-color: rgb(212, 61, 61);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.4);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ticketListItem:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 2px 8px 10px rgb(0, 0, 0, 0.4);
}

.ticketListItem .ticketTitle {
  font-weight: 600;
  color: white;
}

.ticketListItem .ticketDescription {
  color: white;
  overflow: hidden;
}

.ticketListItem .ticketDate {
  color: rgb(255, 255, 255, 0.4);
}

.myTicketsDiv .lowerDisplay {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.ticketDisplayDiv {
  height: 80vh;
}
.selectedTicketDisplay {
  height: 85vh;
  width: 45vw;
}
.selectedTicketDisplay .self {
  height: 80vh;
  width: auto;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
}
.selectedTicketDisplay .title {
  font-size: 2em;
  font-weight: 600;
  color: black;
  margin: 10px;
}
.selectedTicketDisplay .description {
  font-size: 1.3em;
  color: black;
  height: auto;
  margin: 10px;
}
.selectedTicketDisplay .titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}

.selectedTicketDisplay .status {
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5em;
}

.self .comments {
  margin-top: 20px;
  height: 63vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ticketComment .description {
  font-size: 1em;
}

.ticketListDiv {
  overflow-y: scroll;
  height: 75vh;
}

.bottomFeather {
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0), #fff);
  position: absolute;
  bottom: 48px;
  z-index: 1;
  height: 100px;
  width: 31.8vw;
}
